@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background: #000;
  color: #fff;
  scroll-behavior: smooth;
  
}

#work, #about, #experience, #testimonials, #contact{
  scroll-margin-top:80px ;
}